@import "tailwindcss";

@theme {
  --color-background: oklch(15.6% 0.0027 325.7);
  --color-primary: oklch(16.89% 0.0021 286.18);
  --color-secondary: oklch(76.95% 0.1189 289.29);
  --color-text-primary: oklch(70.8% 0 0);
  --color-text-secondary: oklch(92.2% 0 0);
  --color-primary-hover: color-mix(
    in oklab,
    var(--color-neutral-800) 50%,
    transparent
  );

  /*
  Old colour palette
  --color-background: oklch(20.5% 0 0);
  --color-primary: oklch(16.89% 0.0021 286.18);
  --color-secondary: oklch(82.7% 0.119 306.383);
  --color-text-primary: oklch(70.8% 0 0);
  */

  --animate-slide-left: slide-left 40s linear infinite;
  @keyframes slide-left {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }

  --animate-slide-right: slide-right 40s linear infinite;
  @keyframes slide-right {
    100% {
      left: 0%;
    }
    0% {
      left: -100%;
    }
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
